pipeline/pipe_handson_01.json
{
	"name": "pipe_handson_01",
	"properties": {
		"activities": [
			{
				"name": "Metadados",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_generico_csv",
						"type": "DatasetReference",
						"parameters": {
							"Container_Name": "csv-files",
							"File_Name": "*.csv",
							"Separator_Name": ";"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Filter_Getmetadata",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Metadados",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Metadados').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@not(startswith(item().name,'MOVIE'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter_Getmetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter_Getmetadata').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Copy_to_Parquet",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AvroSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "AvroWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_generico_csv",
									"type": "DatasetReference",
									"parameters": {
										"Container_Name": "csv-files",
										"File_Name": {
											"value": "@item().name",
											"type": "Expression"
										},
										"Separator_Name": ";"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_parquet_generico",
									"type": "DatasetReference",
									"parameters": {
										"Containername": "parquet-files",
										"Filename": {
											"value": "@replace(item().name,'.csv','')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "adf_03_handson_01"
		},
		"annotations": [],
		"lastPublishTime": "2023-07-12T16:19:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}